<!DOCTYPE html>
<html>
<head>
  <title>Hate2LuvApp</title>
  <link rel="icon" type="image/png" href="http://belief1913.files.wordpress.com/2011/11/tumblr_kwij6timkf1qae80yo1_500.jpg">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to "Welcome to Hate2Luv", root_path %></h1>
  <h3><%= flash[:notice] %></h3>
  <h3><%= flash[:error] %></h3>
  <% if signed_in? %>
    <li><i class="fa fa-sign-out"></i><%= link_to "Sign Out", signout_path %></li>
  <% else %>
    <li><i class="fa fa-facebook"></i><%= link_to "Sign In with Facebook", "auth/facebook" %></li>
  <% end %>
  <%= yield %>

</body>
</html>
